[submodule "Thirdparty/GLFW"]
	path = Thirdparty/GLFW
	url = https://github.com/MeylandMan/glfw.git
	branch = master
[submodule "Thirdparty/glm"]
	path = Thirdparty/glm
	url = https://github.com/icaven/glm.git
	branch = master
[submodule "Thirdparty/imgui"]
	path = Thirdparty/imgui
	url = https://github.com/MeylandMan/imgui.git
	branch = docking
